$font1: "Open Sans",
sans-serif;

a {
	text-decoration: none;
}

html,
body {}

body {
	color: #3b3b3b;
	font-family: 'Open Sans';
	font-size: 16px;
	margin: 0;
	background: #ffffff;

	&.blocked {
		position: fixed;
		width: 100%;
		overflow-y: scroll;
	}
}

.container {
	width: 1240px;
	margin: 0 auto;
	box-sizing: border-box;
}


#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}



body {}


section>.container>.title {

	color: #2d2d2d;
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;

	.green {
		color: #45ac15;
	}

}


header {
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1710px;
	max-width: calc(100% - 30px);
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	height: 193px;

	.logo {

		margin-right: 57px;
	}

	ul {
		max-width: 691px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;

		li a {

			color: #ffffff;
			font-size: 15px;
			font-weight: 400;
			line-height: 55px;
			text-transform: uppercase;
		}
	}

	.lang-toggle {
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		position: relative;

		.toggle {
			width: 91px;
			height: 33px;
			border-radius: 16px;
			border: 2px solid #ffffff;
			padding-right: 40px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: center;

			position: relative;
			align-items: flex-end;
			z-index: 10;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				right: 16px;
				width: 10px;
				height: 5px;
				background: url('../img/arrow-bottom-w.svg');
				transition-duration: .2s;
			}

		}

		.lang.active {}

		.langs {
			z-index: 0;
			display: none;
			position: absolute;
			top: 18px;
			padding-top: 19px;
			width: 91px;
			background: #74c748;
			box-sizing: border-box;
			border: 2px solid #ffffff;
			border-top: 0;
			border-radius: 0 0 16px 16px;
			text-align: center;
			padding-bottom: 7px;
			opacity: 0;

			.lang:not(.active) {
				display: block;
				color: #fff;
				transition-duration: .2s;

				&:hover {
					color: #94F8FF;
				}
			}
		}

		&.open {
			.toggle {

				background: #74c748;

				&::after {
					transform: rotate(-180deg);
				}
			}

			.langs {
				opacity: 1;

				.lang:not(.active) {}
			}

		}



	}

	.contact {
		display: flex;
		align-items: center;
		margin-top: 8px;
		position: relative;
		width: 275px;

		.left {
			margin-top: 5px;

			img {}
		}

		.right {
			margin-left: 14px;
			margin-top: 10px;

			.top {
				color: #ffffff;
				font-size: 18px;
				font-weight: 700;
			}

			.bottom {
				margin-top: 3px;
				color: #ffffff;
				font-size: 15px;
				font-weight: 400;
			}
		}
	}
}


.animation {
	height: 100vh;
	overflow: hidden;
	position: relative;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 245px;
		position: absolute;
		left: 0;
		top: 0;
		background: url("../img/header-grad.png") center top repeat-x;
		z-index: 1;
	}

	svg {
		height: 100vh !important;
		width: 100%;
		object-fit: cover;
	}

	.scroll-mouse {
		position: absolute;
		display: block;
		width: 49px;
		height: 74px;
		bottom: 4%;
		left: calc(50% - 24.5px);
		background: url("../img/scroll-icon.svg") center no-repeat;
		background-size: 120%;
		z-index: 100;
	}

	.container2 {
		width: 1240px;
		margin: 0 auto;
		box-sizing: border-box;
		position: relative;
		height: 100%;
	}

	.container3 {
		height: 100%;
		display: none;

		background-size: 45px auto;
		padding-top: 100px;
		box-sizing: border-box;

		.slider-first-block {
			margin-top: 30px;

			.slick-prev,
			.slick-next {
				display: block;
				font-size: 0;
				color: transparent;
				border: none;
				outline: none;
				background: url("../img/slider-prev.png") center center no-repeat;
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 142px;
				width: 28px;
				height: 72px;
				padding: 0;
				margin: 0;
				z-index: 20;
			}

			.slick-next {
				left: auto;
				right: 0;
				background: url("../img/slider-next.png") center center no-repeat;
			}

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;

				.image {
					width: 269px;

					img {
						width: 100%;
					}
				}

				.label {
					max-width: 430px;
					color: #ffffff;
					font-size: 36px;
					font-weight: 700;
					line-height: 45px;
					margin-top: 20px;
					text-align: center;
				}
			}
		}
	}

	.lady {
		position: absolute;
		width: 299px;
		height: 362px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		left: calc(50% - 150px);
		top: 20%;

		img {
			display: block;
			opacity: 0;
			position: absolute;
			left: 0;
			bottom: 0;

			&.active {
				opacity: 1;
			}
		}

		&.transition {
			transition: left 1s linear;
		}
	}

	#main-lady-text {
		width: 480px;
		text-align: center;
		color: #ffffff;
		font-size: 40px;
		font-weight: 700;
		line-height: 55px;
		opacity: 0;
		transform: scale(0);
		position: absolute;
		left: calc(50% - 240px);
		top: calc(100% + 60px);
	}

	.lady-text {
		background: #FFFFFF;
		max-width: 422px;
		width: max-content;
		padding: 34px 35px;
		box-sizing: border-box;
		border-radius: 20px 20px 20px 0;
		position: absolute;
		transform-origin: left bottom;
		transform: scale(0);
		opacity: 0;

		&.right-text {
			border-radius: 20px 20px 0;
			transform-origin: right bottom;
		}

		.main {
			color: #2d2d2d;
			font-weight: 600;
			font-size: 16px;
			line-height: 27px;
		}

		.second {
			color: #939393;
			font-size: 14px;
			font-style: italic;
			margin-top: 12px;
		}
	}

	#lady-1-text {
		right: 0;
		top: 32%;
	}

	#lady-2-text,
	#lady-4-text {
		left: 221px;
		top: 15px;
		white-space: nowrap;
	}

	#lady-3-text,
	#lady-5-text {
		right: 0;
		bottom: 5%;
	}

	.phone-block {
		width: 717px;
		height: 415px;
		right: 0;
		top: 19%;
		position: absolute;
		transform: translateX(2000px);
		opacity: 0;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	#app-links {
		width: 375px;
		left: calc(50% - 188px);
		bottom: 20%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		opacity: 0;
		transform: scale(0);

		.app-link {
			width: 167px;
			height: 54px;
			border-radius: 6px;
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				display: block;
				max-width: 98%;
			}
		}
	}
}

#lottie {
	background-color: #fff;
	width: 100%;
	display: block;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	text-align: center;
	opacity: 1;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

}

.how-its-work {
	margin-top: 134px;

	.container {
		>.title {
			margin-bottom: 74px;
		}

		.text {
			max-width: 835px;
			text-align: center;
			color: #707070;
			font-size: 15px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 auto;
			//	margin-bottom: 110px;
		}
	}

	.wrapper {
		margin-top: 80px;
		max-width: calc(100vw - 16px);
		overflow: hidden;
		height: 460px;
		background: url(../img/city.png) top center no-repeat;
		position: relative;

		margin-left: 16px;

		.tv {
			position: absolute;
			margin-top: 30px;
			left: calc(50% - 328px / 2 - 8px);
			width: 328px;
			height: 430px;
			background: url(../img/tv.png);

		}

		.watch {
			width: 206px;
			height: 324px;
			border-radius: 10px;
			position: absolute;
			top: 11px;
			left: calc(50% - 206px / 2);
			background: url(../img/green_watch.png);
			transition-duration: .2s;
			cursor: pointer;

			&:hover {
				filter: brightness(1.2);
			}
		}

		.btn {
			position: absolute;
			top: 116px;
			left: calc(50% - 90px / 2);
			width: 90px;
			height: 90px;
			background: url(../img/watch_1.png) center no-repeat;

		}

		.desc {

			position: absolute;
			text-align: center;
			color: #ffffff;
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			top: 157px;

			top: 251px;
			left: calc(50% - 84px / 2);
		}
	}
}

#fancy-watch {
	width: 1920px;
	max-width: 80%;
}

.video {
	position: relative;
	padding-bottom: 56.25%; //padding-top:25px;height:0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.who-will-suit {
	margin-top: 126px;

	.container {
		>.title {
			max-width: 412px;
			margin: 0 auto;
			margin-bottom: 85px;
		}

		.flex-block {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -16px;
			justify-content: space-between;

			.card {
				text-align: center;
				width: calc(33.3333333333% - 32px);
				margin: 0 16px;
				border-radius: 20px;
				background-color: #f6f7fc;
				padding-bottom: 55px;
				margin-bottom: 32px;




				.pic {
					margin-top: 39px;
					margin-bottom: 21px;
					height: 127px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.title {
					color: #2d2d2d;
					font-size: 18px;
					font-weight: 600;
					line-height: 27px;
				}

				.content {
					color: #707070;
					font-size: 15px;
					font-weight: 400;
					line-height: 25px;
					max-width: 305px;
					margin: 0 auto;
					margin-top: 25px;
				}
			}
		}
	}
}





.warranty {
	margin-top: 135px;

	.container {
		>.title {
			margin-bottom: 173px;
		}

		.flex-block {
			margin: 0 -16px;
			display: flex;
			text-align: center;

			.card {
				width: calc(33.3333333333% - 16px);
				margin: 0 16px;
				padding-bottom: 81px;
				border-radius: 20px;
				background-color: #f6f7fc;
				display: flex;
				flex-direction: column;
				align-items: center;

			}

			.circle {
				width: 169px;
				height: 169px;
				background-color: #82d251;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				margin: 0 auto;

				margin-top: -84px;
			}

			.title {
				color: #2d2d2d;
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;

				margin-top: 45px;
				max-width: 255px;
				margin-bottom: 25px;
			}

			.content {

				color: #707070;
				font-size: 15px;
				font-weight: 400;
				line-height: 25px;

				max-width: 314px;
			}
		}
	}
}


.questions {
	margin-top: 82px;

	margin-bottom: 178px;

	.title {
		margin-bottom: 86px;
	}

	.item {
		width: 100%;
		margin-bottom: 16px;


		.head {
			width: 100%;

			height: 90px;
			border-radius: 20px;
			background-color: #f6f7fc;
			display: flex;
			align-items: center;
			cursor: pointer;

			.left {
				flex-grow: 1;
				padding-left: 55px;
				color: #2d2d2d;
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;
			}

			&:hover {
				.left {
					color: #45ac15;
				}
			}

			.right {
				display: flex;
				align-items: center;
				padding-right: 56px;
				border-left: 1px solid #d0d1d8;
				padding-left: 23px;
				min-height: 44px;

				.view {
					display: flex;
					align-items: center;

					.eye {
						background: url(../img/eye_closed.png) center no-repeat;
						background-size: cover;
						width: 27px;
						height: 18px;
						margin-right: 11px;

					}

					.text {
						color: #d0d1d8;
						font-size: 15px;
						font-weight: 400;
						line-height: 27px;
						margin-right: 54px;
					}
				}

				.status {
					width: 27px;
					height: 27px;
					background: url(../img/arrow-b-white.svg) center no-repeat #82d251;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					transition-duration: .2s;


				}
			}
		}

		.bottom {
			display: none;

			p {
				color: #707070;
				font-size: 15px;
				font-weight: 400;
				line-height: 25px;
				margin-left: 55px;
				max-width: 835px;
				margin-top: 25px;

				&:first-child {
					margin-top: 33px;
				}

				&:last-child {
					margin-bottom: 50px;
				}
			}
		}

		&.open {


			.head {
				background: #45ac15;

				.left {
					color: #fff;
				}

				.right {
					border-left: 1px solid #fff;


					.view {
						.eye {

							background: url(../img/eye_open.png) center no-repeat;
							background-size: cover;
						}

						.text {
							color: #fff;
						}
					}

					.status {
						background: url(../img/arrow-t-green.svg) center no-repeat #fff;

					}
				}
			}

			.bottom {
				//	display: block;
			}
		}
	}


}




footer {
	background-color: #f6f7fc;
	width: 100%;
	padding-top: 96px;
	padding-bottom: 72px;

	.container {
		display: flex;
		justify-content: space-between;

		.flex-col {
			width: 33.333333333333333333%;

			//		height: 166px;
			display: flex;
			flex-direction: column;
			//justify-content: space-between;
			padding-bottom: 2px;

			.number {
				color: #707070;
				font-size: 18px;
				font-weight: 700;
				line-height: 18px;

				margin-top: -1px;
				margin-bottom: 39px;
			}

			.social {}

			.app {
				display: flex;
				justify-content: center;
				margin-top: 1px;
				padding-left: 8px;

				margin-bottom: 88px;

				>a {
					height: 54px;
					border-radius: 6px;
					border: 1px solid #d0d1d8;

					&:hover {
						border: 1px solid #45ac15;
					}

					box-sizing: border-box;
					display: block;

				}

				.app-store {
					background: url('../img/app_store.png') center no-repeat;


					width: 167px;
					margin-right: 32px;

					&:hover {
						background: url('../img/app_store_hov.png') center no-repeat #45ac15;
					}

				}

				.play-market {
					background: url('../img/google_play.png') center no-repeat;

					width: 176px;

					&:hover {
						background: url('../img/google_play_hov.png') center no-repeat #45ac15;
					}
				}
			}

			.logo {
				margin-bottom: 83px;
			}

			.text {
				color: #707070;
				font-size: 15px;
				font-weight: 400;
				line-height: 22px;

				a {
					color: #707070;
					font-size: 15px;
					font-weight: 400;
					line-height: 25px;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			&:nth-child(1) {}

			&:nth-child(2) {
				align-items: center;
				flex-grow: 1;
				padding-bottom: 0;
			}

			&:nth-child(3) {
				flex-direction: row;
				justify-content: flex-end;

				.wrap {
					max-width: 244px;

					.social {
						max-width: 203px;
						margin-top: 43px;
						display: flex;
						justify-content: space-between;

						a {
							&:hover {
								filter: brightness(1.3);
							}

						}
					}
				}
			}
		}
	}
}


.slider-controls {
	display: none;
}



.mobile-app {
	position: relative;
	margin-top: 125px;

	.container {
		position: relative;
	}

	.csDots {
		display: flex;
		align-items: center;
		margin: 0 -8px;
		position: absolute;
		right: 47px;
		top: 47px;
		z-index: 5;

		.item {
			width: 17px;
			height: 17px;
			background-color: #ffffff;
			margin: 0 8px;
			border-radius: 50%;

			cursor: pointer;
			transition-duration: .2s;

			&.active {

				background-color: #f5df5f;
				width: 58px;
				border-radius: 9px;
				/*
					position: relative;*/

				/*	&:before {
						/content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 29px;
						height: 17px;
						border-radius: 9px;
						background-color: #f5df5f;
					}*/
			}
		}
	}

	.card {
		background: url(../img/bg-slider-cards.png) center no-repeat;

		transition-duration: .2s;

		.content {
			opacity: 1;
		}

		&:not(.front) {
			.content {
				opacity: 0;
			}
		}

		&.front {
			position: relative;
			z-index: 3;
			width: 1240px;
			height: 645px;
			border-radius: 30px;

			.info {
				animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

			}

			.phone1 {

				animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			}

			.phone2 {
				animation: slide-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

			}
		}

		&.center {
			position: absolute;
			left: calc(50% - 1182px / 2);
			top: -15px;
			z-index: 2;
			width: 1182px;
			height: 645px;
			border-radius: 30px;
			background-color: #44ab14;
			opacity: 0.56;
		}

		&.back {
			position: absolute;
			left: calc(50% - 1124px / 2);
			top: -28px;
			z-index: 1;
			width: 1124px;
			height: 645px;
			border-radius: 30px;
			background-color: #44ab14;
			opacity: 0.42;
		}



		.info {
			margin-left: 105px;
			padding-top: 122px;
			max-width: 425px;

			.title {
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 40px;
				font-weight: 700;
				line-height: 55px;
				margin-left: -2px;
			}

			.description {
				color: #ffffff;
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;
				margin-top: 50px;
			}

			.controls {
				margin-top: 62px;
				display: flex;
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;
			}

			.next,
			.prev {
				display: flex;
				color: #ffffff;
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;

				cursor: pointer;

				.arrow {
					width: 25px;
					padding-left: 2px;
					height: 27px;
					margin-left: 16px;
					background-color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
				}
			}

			.prev {
				transform: rotate(180deg);
				opacity: 0.5;
				transition-duration: .2s;

				&:hover {
					opacity: 1;
				}
			}

			.stores {
				display: flex;
				margin-top: 10px;
				margin-top: 69px;
				margin-left: 1px;

				.item {
					width: 65px;
					height: 65px;
					border-radius: 13px;

					margin-right: 24px;
					background-color: #ffffff;

					//transition-duration: .2s;
					&:hover {
						//filter: brightness(0.9);
						opacity: .8;
					}

					&.app {
						background: url(../img/app-bg.png) center no-repeat;
					}

					&.play {
						background: url(../img/play-bg.png) center no-repeat #FFF;
					}
				}
			}




		}

		.phone1 {
			position: absolute;
			top: 102px;
			right: 353px;

			img {}
		}

		.phone2 {
			position: absolute;
			top: 158px;
			right: 14px;

			img {}
		}
	}


	.mobile-app-slider {
		display: none;
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(400px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);

		opacity: 1;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);

		opacity: 1;
	}
}


header {
	display: none;
}

section:not(.animation) {
	display: none;
}

.mobile-app {
	display: none;
}

footer {
	display: none;
}

.animation .container2,
.animation .container3,
.animation .scroll-mouse {
	display: none;
}
